<h2>Productos</h2>
<hr>
<h3>Categoría</h3>
<ul name="" id="">
    <li><a href="/products">Todos</a></li>
    {{#each categories}}
    <li><a href="/products?category={{this}}">{{this}}</a></li>
    {{/each}}
</ul>
<input type="text" value="{{cart._id}}" hidden id="cart">

<div>
    <select id="sortSelect">
        <option selected disabled>Ordenar</option>
        <option value="asc">Precio: Menor a Mayor</option>
        <option value="desc">Precio: Mayor a Menor</option>
    </select>
</div>

<ul id="prod">
    {{#each payload}}
    <li>
        {{title}} | {{category}} | <strong> ${{price}} </strong> | code: {{code}} | <button
            onclick="comprar ('{{_id}}')">Añadir al carrito</button>
    </li>
    {{/each}}
</ul>
<br><br>

<a href="/products?page=1">Pág. 1</a>
{{#if hasPrevPage}}
<a href="{{prevLink}}">Ant.</a>
{{/if}}


{{#if hasNextPage}}
<a href="{{nextLink}}">Sig.</a>
{{/if}}
<a href="/products?page={{totalPages}}">Última Pág.</a>
<h3> Pagina {{page}} / {{totalPages}}</h3>
<a href="/carts/{{cart._id}}">Ver carrito</a>

<script src="/assets/js/products.js"></script>